@use "../variables";

.form {
    background-color: variables.$color-primary-dark;
    padding: 2rem;

    .form-group {
        &:has(.form-group-multifield) {
            display: grid;
        }

        &:not(:first-child) {
            margin-top: 1rem;
        }

        .form-group-label {
            display: inline-block;
            max-width: 10rem;
            width: 100%;
        }

        .form-group-input {
            background-color: variables.$color-primary-light;
            border-radius: 0.5rem;
            font-size: variables.$font-size-medium;
            max-width: calc(100% - 3rem);
            min-width: calc(100% - 3rem);
            padding: 0.5rem 1rem;

            &:is(textarea) {
                height: 10rem;
            }

            &:focus-visible, :focus-within {
                border: 2px solid variables.$color-white;
                outline: none;
            }
        }

        .form-group-multifield {
            margin-top: 1rem;
            display: grid;
            position: relative;

            .form-group-multifield-field {
                margin-top: 1rem;
                padding-left: 1rem;
            }

            .delete-button {
                left: 5rem;
                position: absolute;
                top: -0.5rem;
            }
        }

        .form-group-tags {
            .form-group-tag-label {
                background-color: variables.$color-primary-light;
                border-radius: 0.5rem;
                display: inline-block;
                padding: 0.5rem 1rem;

                &:hover {
                    background-color: variables.$color-primary-lighter;
                    cursor: pointer;
                }
            }

            .form-group-tag-input {
                display: none;

                &:checked {
                    + .form-group-tag-label {
                        background-color: variables.$color-primary-lighter;
                    }
                }
            }
        }

        .form-group-button {
            margin-top: 1rem;
        }
    }

    .form-submit {
        margin-top: 2rem;
    }
}
