// COLORS //
$color-black: #000000;
$color-primary-dark: #0C111D;
$color-primary-light: #628CD2;
$color-primary-lighter: #77B6DF;
$color-secondary-dark: #294365;
$color-secondary-light: #6389A3;
$color-secondary-lighter: #B0C2D7;
$color-white: #FFFFFF;

// FONT SIZE //
$font-size-smaller: 0.8rem;
$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 1.1rem;
$font-size-larger: 1.5rem;
$font-size-2x: 2rem;
$font-size-2x5: 2.5rem;
